
body { 
     animation: transitionIn 850ms;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }

}
header{
    background-color: rgba(111, 4, 4, 0.493);
}
h1 {
    color: rgb(222, 236, 245);
    font-family: American Typewriter, serif;
    font-size: 45px;
    font-weight: bold;
    text-align: left;
} 
h2, p {
    color: rgb(222, 236, 245);
    font-weight: bold;
    font-family: American Typewriter, serif;
    text-align: center;
}
.intro {
    margin: right;
    background-color: rgba(83, 98, 124, 0.61);
    border: 2px solid rgb(126, 28, 28);
    border-radius: 20px;
    width: 850px;
    float: right;
}
.iframe-container {
    background-color: rgba(83, 98, 124, 0.61);
    border: 2px solid rgb(126, 28, 28);
    border-radius: 20px;
    text-align: center;
    width: 450px;
    padding: 10px;
    overflow: hidden;
}
.iframe-container iframe {
    border-radius: 20px;
}
ul{
    color: rgb(222, 236, 245);
    font-weight: bold;
    font-family: American Typewriter, serif;
}
a {
    color: rgb(222, 236, 245);
}
.wrapper{
    position: relative;
    overflow: hidden;
}
.vids{
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}