header {
    background-color: rgba(126, 28, 28, 0.787);
}
nav {
    font-size: 20px;
    font-weight: bolder;
}
body { 
    background-image: url('graffiti.jpg');
    background-size: cover;
    background-attachment: fixed;
     animation: transitionIn 850ms;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }

}
h1 {
    color: rgb(247, 247, 252);
    font-family: American Typewriter, serif;
    font-size: 45px;
    font-weight: bold;
    text-align: left;
} 
h2, p {
    color: rgb(247, 247, 252);
    font-weight: bold;
    font-family: American Typewriter, serif;
    text-align: center;
}
div {
    background-color: rgba(83, 98, 124, 0.61);
    width: 500px;
    border: 2px solid rgb(126, 28, 28);
    border-radius: 20px;
    padding: 20px;
    margin: auto;
}
.clip {
    text-align: center;
    width: 450px;
    padding: 10px;
}
iframe {
    border-radius: 2px;
}
ul{
    color: rgb(247, 247, 252);
    font-weight: bold;
    font-family: American Typewriter, serif;
}
a {
    color: rgb(247, 247, 252);
}
